MoiBP/xml/salamislice.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    
  <xs:element name="naziv">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="jezik" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Prezime" type="xs:string"/>
  <xs:element name="Ime" type="xs:string"/>
  <xs:element name="DatumRodjenja">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="format"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pol" type="xs:string"/>
  <xs:element name="RedniBroj" type="xs:long"/>
  <xs:element name="DatumIzdavanja">
    <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="(0[1-9]|1[0-2])\.(0[1-9]|[12]\d|3[01])\.([12]\d{3}\.)"/>
        </xs:restriction>
  </xs:simpleType>
  </xs:element>
  <xs:element name="VaziDo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="format"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DokumentIzdaje" type="xs:string"/>
  <xs:element name="Drzava">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="naziv" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tip">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="naziv" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicniPodaci">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Prezime"/>
        <xs:element ref="Ime"/>
        <xs:element ref="DatumRodjenja"/>
        <xs:element ref="Pol"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Izdavac">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RedniBroj"/>
        <xs:element ref="DatumIzdavanja"/>
        <xs:element ref="VaziDo"/>
        <xs:element ref="DokumentIzdaje"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentifikacioniDokument">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Drzava"/>
        <xs:element ref="Tip"/>
        <xs:element ref="LicniPodaci"/>
        <xs:element ref="Izdavac"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
